.hero-bg {
    background-image: url(/ent-doctor-2-11.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  @media (max-width: 1024px) {
    .text-left {
      text-align: center;
      margin-left: 0;
    }
  }